@font-face {
    font-family: Barlow;
    src: url(fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: BarlowBold;
    src: url(fonts/Barlow-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
    grid-template-columns: 1fr 5fr;
    font-family: Barlow, sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

.profile-photo {
    border-radius: 50%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #3eb560;
    color: white;
    grid-area: sidebar;
    padding: 20px;
    font-size: 1.7rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: -5px;
}

.logo {
    width: 2.7rem;
    height: 2.7rem;
}

ul {
    list-style-type: none;
}

.profile-list, .settings-list {
    margin-left: -45px;
}

li {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.white {
    filter: invert(200%);
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        'projects announcements'
        'projects trending';
    background-color: #dee0df;
    grid-gap: 10px;
    box-shadow: 0 10px 50px rgb(204, 204, 204) inset;
}

.projects {
    grid-area: projects;
    padding: 10px 50px;
}

.announcements {
    grid-area: announcements;
    padding: 10px 100px 10px 10px;
    max-width: 30%;
}

.announcements-container {
    background-color: #fafafa;
    display: grid;
    grid-template-rows: repeat(5, auto);
    border-radius: 1rem;
    box-shadow: 7px 10px 10px rgb(180, 180, 180);
    padding: 10px;
}

.announcement {
    padding: 1rem;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #2e332f;
}

.trending {
    grid-area: trending;
    background-color: #fafafa;
    padding: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.purple {
    background-color: #b53e93;
    border-radius: 10px;
    box-shadow: 15px 10px 10px rgb(180, 180, 180);
}

.card {
    background-color: #fafafa;
    padding: 10px;
    margin: 0 -10px 0 10px;
    border-radius: 0 10px 10px 0px;
    display: flex;
    flex-direction: column;
}

.card p {
    color: #2e332f;
}

.card-options {
    align-self: flex-end;
}

.card-options > img {
    width: 2rem;
    height: 2rem;
    filter: invert(25%);
    padding: 0 5px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

footer {
    grid-area: footer;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posting-list {
    display: flex;
    padding-right: 6rem;
    gap: 3rem;
}

.posting-list > li {
    background-color: #3eb560;
    color: white;
    border-radius: 30px;
    padding: 15px 30px;
    margin: 0 5px;
    font-weight: 600;
    font-size: 1.2rem;
    max-height: 30px;
}

.posting-list > li:hover {
    background-color: #60da83;
}

.greeting > .small {
    font-family: BarlowBold;
}

.greeting > .large {
    font-size: 1.5rem;
    font-family: BarlowBold;
}

.profile-photo.large {
    height: 175px;
    width: 175px;
    padding: 1rem;
}

.profile.small {
    justify-content: space-between;
}

input {
    background-color: #dee0df;
    border: none;
    border-radius: 30px;
    margin: 1.5rem;
    width: 60%;
    height: 40%;
}

.container {
    display: flex;
    align-items: center;
}

.notifications {
    height: 30px;
    width: 30px;
    padding: 1rem;
}

.profile-photo.small {
    height: 50px;
    width: 50px;
    padding: 1rem;
}

.container >.profile-name {
    font-family: BarlowBold;
    padding: 15px 100px 15px 30px;
}